<div class = "container px-5 px-sm-0">
  <div class = "row">
    <h3 class = "mx-auto">ユーザー情報編集</h3>
  </div>

  <div class = "row">
    <div class = "col-xl-6 mx-auto">
      <div class = "card text-center">
        <div class = "card-body">
          <%= render "layouts/error_message", obj: @user %>

          <%= form_with model: @user, local: true do |f| %>
            <%= f.file_field :user_image, class: "image-field", style: "display: none" %>
            <%= attachment_image_tag @user, :user_image, size: "100x100", fallback: "no_image.jpg", onClick: "$('.image-field').click()", class: "image-prev mb-5" %><br />

            <%= f.label "ユーザー名" %>
            <%= f.text_field :user_name, class: "form-control col-md-6 mx-auto" %><br />

            <%= f.label "メールアドレス" %>
            <%= f.text_field :email, class: "form-control col-md-6 mx-auto" %><br />

            <%= f.label "自己紹介" %>
            <%= f.text_area :introduction, class: "form-control col-md-6 mx-auto" %><br />

            <%= f.submit "更新", class: "btn btn-success" %>

          <% end %>
        </div>
      </div>
    </div>
  </div>

</div>
