<div class = "container px-5 px-sm-0">
  <div class = "row">
    <h3 class = "mx-auto">ユーザー詳細画面</h3>
  </div>

  <div class = "row">
    <div class = "col text-center">
      <div class = "card">
        <div class = "card-body">
          
        </div>
      </div>
      <%= attachment_image_tag @user, :user_image, size: "100x100", fallback: "no_image.jpg", class: "user_image mb-3" %><br />

      <strong>
        <p><%= @user.user_name %></p>
      </strong><br />

      <p><%= @user.introduction %></p><br />

      <% @post.each do |post| %>
        <p><%= link_to post.title, post_path(post) %></p>
        <%= render "posts/post_favorite", post: post %>
      <% end %><br />

      <div>
        <p>
          <%= link_to following_user_path(@user) do %>
            フォロー数: <%= @user.following.count %>
          <% end %>
          |
          <%= link_to followed_user_path(@user) do %>
            フォロワー数: <%= @user.followed.count %>
          <% end %>
        </p>
        <% if user_signed_in? && @user != current_user %>
          <% if current_user.following?(@user) %>
            <%= link_to "フォロー解除", unfollow_path(@user), method: :DELETE %>
          <% else %>
            <%= link_to "フォローする", follow_path(@user), method: :POST %>
          <% end %>
        <% end %>
      </div>

      <p><%= link_to "編集", edit_user_path(@user) %></p>

    </div>
  </div>

</div>