<h3>ユーザー詳細画面</h3>

<div>
  <p><%= @user.user_image %></p>
  <p><%= @user.user_name %></p>
  <p><%= @user.introduction %></p>
  <p>フォロー数、フォロワー数</p>
  <% @post.each do |post| %>
    <%= post.title %>
  <% end %>
  <%= link_to "編集", edit_user_path(@user) %>
</div>