<div class = "container px-5 px-sm-0">
  <div class = "row">
    <h3 class = "mx-auto">新規投稿</h3>
  </div>

  <div class = "row">
    <div class ="col-6">
      <div class = "box">
        <div id = "map"></div>
        <script src = "https://maps.googleapis.com/maps/api/js?key=<%= ENV['GoogleMapAPI'] %>&callback=initMap" async defer></script>
      </div>
    </div>

    <div class = "col-6">
      <div class = "form">
        <%= form_with model: @post, local: true, id: 'way-points-form', class: "form-group" do |f| %>
          <%= f.text_field :title, placeholder: "タイトル", class: "form-control form-control-sm" %>

          <%= f.fields_for :courses do |i| %>
            <div class = "form-inline">
              <%= i.number_field :day, placeholder: "日程", class: "form-control form-control-sm col-3" %>
              <label>日目</label>
            </div>
            <%= i.text_field :departure_point, placeholder: "出発地", id: "departure", class: "form-control form-control-sm" %>
            <div id = "waypoint-list">
              <% for num in 1..8 do %>
                <%= i.text_field :"way_point#{num}", id: "way-point-#{num}", class: 'd-none form-control form-control-sm', placeholder: "経由地#{num}" %>
              <% end %>
            </div>
            <input type="button" id="waypoint-btn" value="＋" onclick="addForm()"><br>
            <%= i.text_field :arrival_point, placeholder: "到着地", id: "arrival", class: "form-control form-control-sm" %>
          <% end %>

          <input type="button" id="course-btn" value="経路を検索"><br />
          <%= f.submit "投稿" %>

        <% end %>
      </div>
    </div>

  </div>
</div>
