<div class = "container px-5 px-sm-0">
  <div class = "row">
    <h3 class = "mx-auto">投稿詳細ページ</h3>
  </div>

  <div class = "row">
    <div class ="col-xl-6 mb-3">
      <div class = "box">
        <div id = "map"></div>
        <script src = "https://maps.googleapis.com/maps/api/js?key=<%= ENV['GoogleMapAPI'] %>&callback=initMap" async defer></script>
      </div>
    </div>

    <% if @post.user == current_user %>
      <div class = "col-xl-3 mb-3">
        <div class = "form text-center">
          <%= render "layouts/error_message", obj: @course %>

          <%= form_with model: @course, url: courses_path(post_id: @post.id), local: true, id: 'way-points-form', class: "form-group" do |f| %>
            <div class = "form-inline">
              <%= f.number_field :day, placeholder: "日程", class: "form-control form-control-sm col-3" %>
              <label>日目</label>
            </div>
            <%= f.text_field :departure_point, placeholder: "出発地", id: "departure", class: "form-control form-control-sm" %>
            <div id = "waypoint-list">
              <% for num in 1..8 do %>
                <%= f.text_field :"way_point#{num}", id: "way-point-#{num}", class: 'd-none form-control form-control-sm', placeholder: "経由地#{num}" %>
              <% end %>
            </div>
            <input type="button" id="waypoint-btn" value="＋" onclick="addForm()" class = "btn btn-sm btn-secondary"><br>
            <%= f.text_field :arrival_point, placeholder: "到着地", id: "arrival", class: "form-control form-control-sm" %>

            <input type="button" id="course-btn" value="経路を検索", class = "btn btn-sm btn-primary col-12"><br />
            <%= f.submit "投稿", class: "btn btn-sm btn-success col-12" %>
          <% end %>
        </div>
      </div>
    <% end %>

    <div class = "col-xl-3">
      <table class = "table">
        <thead>
          <tr>
            <td colspan = "4", class = "text-center">
              <%= @post.title %>
              (<%= @courses.length %>日間)
              <% if @post.user == current_user %>
                <%= link_to edit_post_path(@post), class: "edit-btn" do %>
                  <i class="fas fa-edit"></i>
                <% end %>
              <% end %>
            </td>
          </tr>
        </thead>
        <tbody>
          <% @courses.each do |course| %>
            <tr class = "table-info" id = "day_courses" >
              <td colspan = "2">
                <%= course.day %>日目
              </td>
              <td class = "text-right">
                <% if @post.user == current_user %>
                  <%= link_to course_path(course), method: :delete, class: "delete-btn" do %>
                    <i class="fas fa-trash-alt"></i>
                  <% end %>
                <% end %>
              </td>
            </tr>
            <tr>
              <td><%= course.departure_point %></td>
              <td>→</td>
              <td><%= course.arrival_point %></td>
            </tr>

            <% if course.way_point1.present? %>
            <tr class = "d-none" id = "way_point_list">
              <td><%= course.way_point1 %></td>
            </tr>
            <% end %>

            <% if course.way_point2.present? %>
            <tr class = "d-none">
              <td><%= course.way_point2 %></td>
            </tr>
            <% end %>

            <% if course.way_point3.present? %>
            <tr class = "d-none">
              <td><%= course.way_point3 %></td>
            </tr>
            <% end %>

            <% if course.way_point4.present? %>
            <tr class = "d-none">
              <td><%= course.way_point4 %></td>
            </tr>
            <% end %>

            <% if course.way_point5.present? %>
            <tr class = "d-none">
              <td><%= course.way_point5 %></td>
            </tr>
            <% end %>

            <% if course.way_point6.present? %>
            <tr class = "d-none">
              <td><%= course.way_point6 %></td>
            </tr>
            <% end %>

            <% if course.way_point7.present? %>
            <tr class = "d-none">
              <td><%= course.way_point7 %></td>
            </tr>
            <% end %>

            <% if course.way_point8.present? %>
            <tr class = "d-none">
              <td><%= course.way_point8 %></td>
            </tr>
            <% end %>

          <% end %>

        </tbody>
      </table>
    </div>
  </div>

  <div class = "row pt-5">
    <div class = "col mb-2">
      <%= render "layouts/error_message", obj: @comment %>

      <%= form_with(model: [@post, @comment], local: true) do |f| %>
        <%= f.text_field :comment, class: "col-6" %>
        <%= f.submit "コメント", class: "btn btn-sm btn-secondary" %>
      <% end %>
    </div>
  </div>

  <div class = "row">
    <div class = "col">
      <table class = "table">
        <thead>
          <tr>
            <th colspan = "3", class = "text-center">コメント一覧</th>
          </tr>
        </thead>

        <tbody>
          <% @comments.each do |comment| %>
            <tr>
              <td class = "col-2">
                <%= link_to user_path(comment.user), class: "user-show-link" do %>
                  <%= attachment_image_tag comment.user, :user_image, size: "30x30", fallback: "no_image.jpg", class: "user_image" %>
                  <%= comment.user.user_name %>
                <% end %>
              </td>
              <td class = "col-8">
                <%= comment.comment %>
              </td>
              <td class = "col-2">
                <%= comment.created_at.strftime('%Y/%m/%d %H:%M:%S') %>
              </td>
              <% if comment.user == current_user %>
                <td>
                  <%= link_to post_comment_path(@post, comment), method: :delete, class: "comment-btn" do %>
                    <i class="fas fa-trash-alt"></i>
                  <% end %>
                </td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

</div>