<div class = "container">
  <div class = "row">
    <h3 class = "mx-auto">投稿詳細ページ</h3>
  </div>

  <div class = "row">
    <div class ="col-6">
      <div class = "box">
        <div id = "map"></div>
        <script src = "https://maps.googleapis.com/maps/api/js?key=<%= ENV['GoogleMapAPI'] %>&callback=initMap" async defer></script>
      </div>
    </div>

    <div class = "col-3">
      <div class = "form">
        <%= form_with model: @course, url: courses_path(post_id: @post.id), local: true, id: 'way-points-form', class: "form-group" do |f| %>
          <div class = "form-inline">
            <%= f.number_field :day, placeholder: "日程", class: "form-control form-control-sm col-3" %>
            <label>日目</label>
          </div>
          <%= f.text_field :departure_point, placeholder: "出発地", id: "departure", class: "form-control form-control-sm" %>
          <div id = "waypoint-list">
            <% for num in 1..8 do %>
              <%= f.text_field :"way_point#{num}", id: "way-point-#{num}", class: 'd-none form-control form-control-sm', placeholder: "経由地#{num}" %>
            <% end %>
          </div>
          <input type="button" id="waypoint-btn" value="＋" onclick="addForm()"><br>
          <%= f.text_field :arrival_point, placeholder: "到着地", id: "arrival", class: "form-control form-control-sm" %>

          <input type="button" id="course-btn" value="経路を検索"><br />
          <%= f.submit "投稿" %>
        <% end %>
      </div>
    </div>

    <div class = "col-3">
      <table class = "table">
        <thead>
          <tr>
            <td colspan = "4", class = "text-center">
              <%= @post.title %>
              (<%= @courses.length %>日間)
            </td>
          </tr>
        </thead>
        <tbody>
          <% @courses.each do |course| %>
            <tr>
              <td><%= course.day %>日目</td>
              <td><%= course.departure_point %></td>
              <td>→</td>
              <td><%= course.arrival_point %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

  <div class = "row">
    <%= form_with(model: [@post, @comment], local: true) do |f| %>
      <p><%= f.text_area :comment %></p>
      <p><%= f.submit "コメントする" %></p>
    <% end %>
  </div>

  <div class = "row">
    <% @comments.each do |comment| %>
      <p><%= comment.comment %></p>
    <% end %>
  </div>

</div>